<?xml version="1.0" encoding="utf-8"?>
<PackageConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Namespace>StarcounterSamples.KitchenSink</Namespace>
  <Channel>Stable</Channel>  
  <Version>1.0.0</Version>
  <AppName>KitchenSink</AppName>
  <Executable>app/KitchenSink.exe</Executable>
  <ResourceFolder>wwwroot</ResourceFolder>
  <ImageUri>KitchenSink.svg</ImageUri>
  <Company>StarcounterSamples</Company>
  <DisplayName>Kitchen Sink</DisplayName>
  <Description>Shows how to model different UI patterns in JSON</Description>
  <VersionDate>2015-11-26T21:33:00Z</VersionDate>
  <Dependency name="Starcounter">~2.2.1.2903</Dependency>
</PackageConfig>
